.crisis {
    margin-top: 75px;
    margin-bottom: -12px;
    background-color: #E14848;
    color: #EBE9EA;
    height: 65px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.UCAssist-desc h5 {
    padding: 10px;
    color: #EBE9EA;
}

.carousel img {
    position: relative;
    z-index: -1;
}

.snap-link {
    font-size: 20px;
    padding: 30px;
}