nav {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    max-height: 75px;
    background-color: white;
}
nav > div {
    margin-top: 1vh;
}
nav img {
    height: 40px;
    padding-left: 7vw;
}
nav li {
    padding: 10px;  
}
nav ul {
    margin-right: 7vw;
}