body {
  margin: 0;
  font-family: Arial, sans-serif;
}
footer {
  background-color: #60707d; 
  color: white;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.container {
  width: 600px; 
  display: flex;
  justify-content: space-between;
}
.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.left {
  align-items: flex-start;
}
.left-title {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  margin-left: -110px;
}
.qr-code {
  width: 220px;
  height: 220px;
  margin-left: -100px;
}
.right {
  gap: 18px;
  margin-right: -200px;
}
.right-title {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 500;
}
.info-item {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-right: 150px;
  gap: 30px;
}
svg.icon {
  width: 20px;
  height: 20px;
  stroke: white;
  stroke-width: 2;
  fill: none;
  flex-shrink: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}