@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body, html {
    font-family: 'Inter', sans-serif;
}

*
{
   color: #1E222E;
   font-family: Inter !important;
}

/* ucdd main colors */
.gold{
    background-color: #AA8A41;
}
.navy{
    background-color: #3E4450;
}
.dark_navy{
    background-color: #1E222E;
}
.accent_blue{
    background-color: #606A76;
}
.light_grey{
    background-color: #EBE9EA;
}

body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.page-header{
    /* background details */
    height: 125px;
    padding: 20px;
    background-color: #1E222E;
    display: flex;
    border-radius: 0 0 30px 30px;
    /* font details */
    align-items: center; /* centers vertically*/
    font-weight: bold;
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rounded-bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.body-text{
    display: flex;
    justify-content:flex-start;
    color: #1E222E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.body-link{
    text-decoration: underline;
}
.body-light{
    font-style:light;
}
.snap-title{
    color: #1E222E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.snap-description{
    color: #1E222E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.snap-tab{
    margin: 10px;
    color: #1E222E;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}