/* ucdd main colors */
.gold{
    background-color: #AA8A41;
}
.navy{
    background-color: #3E4450;
}
.dark_navy{
    background-color: #1E222E;
}
.accent_blue{
    background-color: #606A76;
}
.light_grey{
    background-color: #EBE9EA;
}
.red{
    background-color: #E14848;
}

.clr-gold {
    color: #AA8A41;
}
.clr-navy {
    color: #3E4450;
}
.clr-dark-navy {
    color: #1E222E;
}
.clr-accent-blue {
    color: #606A76;
}
.clr-light-grey {
    color: #EBE9EA;
}

body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.page-header {
    z-index: 501;
    background-color: #1E222E;
    color: #EBE9EA;
    height: 70px;
    margin-top: 75px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.page-header h1 {
    margin-left: 12vw;
    padding: 10px;
}

.crisis {
    margin-top: 75px;
    margin-bottom: -12px;
    height: 65px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

nav img {
    height: 40px;
}

footer img {
    height: 300px;
}

.image-fade {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: top;
    position: relative;

    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.error-image {
    background-image: url('/assets/images/error-rodney-truitt-jf.png');
}