/* ucdd main colors */
.gold{
    background-color: #AA8A41;
}
.navy{
    background-color: #3E4450;
}
.dark_navy{
    background-color: #1E222E;
}
.accent_blue{
    background-color: #606A76;
}
.light_grey{
    background-color: #EBE9EA;
}