/* ucdd main colors */
.gold{
    background-color: #AA8A41;
}
.navy{
    background-color: #3E4450;
}
.dark_navy{
    background-color: #1E222E;
}
.accent_blue{
    background-color: #606A76;
}
.light_grey{
    background-color: #EBE9EA;
}

body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.page-header {
    z-index: 501;
    background-color: #1E222E;
    color: #EBE9EA;
    height: 70px;
    margin-top: 75px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.page-header h1 {
    margin-left: 12vw;
    padding: 10px;
}

.rounded-bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}