<footer>
    <div class="container">
      <div class="left">
        <p class="left-title" style="color:white">Scan to view on mobile</p>
        <img class="qr-code" src="\Gov-AI\assets\images\ucAssistQR.png" alt="QR code" />
      </div>
      <div class="right">
        <p class="right-title" style="color:white">Contact Info:</p>
        <div class="info-item">
          <i class="far fa-envelope-open icon"></i>
          <a href="mailto:assist@ucassist.org">Email: assist@ucassist.org</a>
        </div>
        <div class="info-item">
          <i class="fas fa-desktop icon"></i>
          <a href="http://www.ucassist.org" target="_blank" rel="noopener noreferrer">Web: www.UCAssist.org</a>
        </div>
        <div class="info-item">
          <i class="material-icons icon"></i>
          <a href="phoneto:1-844-482-4636">Phone: 1-844-482-4636</a> <!--TODO: href to phone-->
        </div>
      </div>
    </div>
  </footer>

<!-- <footer class="mt-auto accent_blue pt-3 clr-light-grey">
    QR code and contact info -->
    <!-- <div class="py-4 navy">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-center mb-3 mb-md-0">
                    <p class="mb-0">UCASSIST MOBILE QR CODE</p>
                    <br />
                    <img src=".\assets\images\ucAssistQR.png" alt="UC-Assist Mobile QR Code" />
                </div>
                <div class="col-md-6 text-center text-md-center">
                    <p class="mb-0">CONTACT INFO</p>
                    <p class="mb-1">
                        <a href="tel:+1-844-482-4636" class="text-light">
                            <i class="bi bi-telephone me-2"></i>1-844-482-4636
                        </a>
                    </p>
                    <p class="mb-1">
                        <a href="mailto:assist@ucassist.org" class="text-light">
                            <i class="bi bi-envelope me-2"></i>assist@ucassist.org
                        </a>
                    </p>
                    <p class="mb-1">
                        <a href="#" class="text-light">
                            <i class="bi bi-globe2 me-2"></i>www.UCAssist.org
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Copyright and socials -->
    <!-- <div class="py-3 dark_navy">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    <small>
                        &copy; <span>2025 UC_IT | All Rights Reserved</span>
                    </small>
                </div>
                <div class="col-md-6 text-center text-md-end icon-div">
                    <a href="https://www.facebook.com/UCDDconnect" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                    <a href="https://x.com/ucddconnect" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC3c1cQNjmhzin3QAGDsD12g" class="text-light me-5"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div> -->
<!-- </footer> -->