 <footer class="p-0">
    <!--QR code and contact info -->
    <div class="mt-4 col-12">
        <div class="row align-items-around">
            <!-- left column -->
            <div class="col d-none d-sm-block col-12 col-md-6 mb-4 text-center text-md-center">
                <p class="mb-0" style="color: white">UCASSIST MOBILE QR CODE</p>
                <br />
                <img src="/../Gov-AI/assets/images/ucAssistQR.png" alt="UC-Assist Mobile QR Code" style="max-height: 150px;"/>
            </div>
            <!-- right column -->
            <div class="col col-12 col-md-6 mb-4 text-center text-md-center">
                <p class="mb-2" style="color: white">CONTACT INFO</p>
                <br />
                <p class="mb-1">
                    <a href="tel:+1-844-482-4636" class="text-light">
                        <i class="bi bi-telephone me-2" style="color: white"></i>1-844-482-4636
                    </a>
                </p>
                <p class="mb-1">
                    <a href="mailto:assist@ucassist.org" class="text-light">
                        <i class="bi bi-envelope me-2" style="color: white"></i>assist@ucassist.org
                    </a>
                </p>
                <p class="mb-1">
                    <a href="#" class="text-light">
                        <i class="bi bi-display me-2" style="color: white"></i>www.UCAssist.org
                    </a>
                </p>
                <p class="mb-1">
                    <a href="/../Gov-AI/html/pages/info.html" class="text-light">
                        <i class="bi bi-clipboard-data me-2" style="color: white"></i>Data Dashboard
                    </a>
                </p>
            </div>
            </div>
            <!-- Copyright and socials -->
            <div class="row align-items-around p-3" style="background-color: var(--dark-navy);">
                <div class="col col-12 col-md-6 text-center text-md-center">
                    <small style="color: white">
                        &copy; <span style="color: white">2025 UC_IT | All Rights Reserved</span>
                    </small>
                </div>
                <div class="col col-12 col-md-6 text-center text-md-center">
                    <a href="https://www.facebook.com/UCDDconnect" class="text-light me-3"><i class="bi bi-facebook me-2" style="color: white"></i></a>
                    <a href="https://x.com/ucddconnect" class="text-light me-3"><i class="bi bi-twitter me-2" style="color: white"></i></a>
                    <a href="https://www.youtube.com/channel/UC3c1cQNjmhzin3QAGDsD12g" class="text-light"><i class="bi bi-youtube" style="color: white"></i></a>
                </div>
            </div>
        </div>
    <!-- </div> -->
</footer>