 <footer class="p-0" data-name="Page Footer">
    <!--QR code and contact info -->
    <div class="mt-4 col-12" data-name="Footer Main Section">
        <div class="row align-items-around" data-name="Footer Information Row">
            <!-- left column -->
            <div class="col d-none d-sm-block col-12 col-md-6 mb-4 text-center text-md-center" data-name="Mobile QR Code Column">
                <p class="mb-0" style="color: white" data-name="QR Code Heading">UCASSIST MOBILE QR CODE</p>
                <br data-name="QR Code Section Break" />
                <img src="/../Gov-AI/assets/images/ucAssistQR.png" alt="UC-Assist Mobile QR Code" style="max-height: 150px;" data-name="Mobile QR Code Image"/>
            </div>
            <!-- right column -->
            <div class="col col-12 col-md-6 mb-4 text-center text-md-center" data-name="Contact Information Column">
                <p class="mb-2" style="color: white" data-name="Contact Information Heading">CONTACT INFO</p>
                <br data-name="Contact Information Section Break" />
                <p class="mb-1" data-name="Phone Number Paragraph">
                    <a href="tel:+1-844-482-4636" class="text-light" data-name="Phone Number Link">
                        <i class="bi bi-telephone me-2" style="color: white" data-name="Phone Icon"></i>1-844-482-4636
                    </a>
                </p>
                <p class="mb-1" data-name="Email Address Paragraph">
                    <a href="mailto:assist@ucassist.org" class="text-light" data-name="Email Address Link">
                        <i class="bi bi-envelope me-2" style="color: white" data-name="Email Icon"></i>assist@ucassist.org
                    </a>
                </p>
                <p class="mb-1" data-name="Website Address Paragraph">
                    <a href="#" class="text-light" data-name="Website Address Link">
                        <i class="bi bi-display me-2" style="color: white" data-name="Website Icon"></i>www.UCAssist.org
                    </a>
                </p>
                <p class="mb-1" data-name="Dashboard Link Paragraph">
                    <a href="/../Gov-AI/html/pages/info.html" class="text-light" data-name="Data Dashboard Link">
                        <i class="bi bi-clipboard-data me-2" style="color: white" data-name="Data Dashboard Icon"></i>Data Dashboard
                    </a>
                </p>
            </div>
            </div>
            <!-- Copyright and socials -->
            <div class="row align-items-around p-3" style="background-color: var(--dark-navy);" data-name="Copyright and Social Media Row">
                <div class="col col-12 col-md-6 text-center text-md-center" data-name="Copyright Section">
                    <small style="color: white" data-name="Copyright Text">
                        &copy; <span style="color: white" data-name="Copyright Year and Company">2025 UC_IT | All Rights Reserved</span>
                    </small>
                </div>
                <div class="col col-12 col-md-6 text-center text-md-center" data-name="Social Media Links Section">
                    <a href="https://www.facebook.com/UCDDconnect" class="text-light me-3" data-name="Facebook Link"><i class="bi bi-facebook me-2" style="color: white" data-name="Facebook Icon"></i></a>
                    <a href="https://x.com/ucddconnect" class="text-light me-3" data-name="Twitter Link"><i class="bi bi-twitter me-2" style="color: white" data-name="Twitter Icon"></i></a>
                    <a href="https://www.youtube.com/channel/UC3c1cQNjmhzin3QAGDsD12g" class="text-light" data-name="YouTube Link"><i class="bi bi-youtube" style="color: white" data-name="YouTube Icon"></i></a>
                </div>
            </div>
        </div>
    <!-- </div> -->
</footer>