<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- background image -->
            <img class="bg-opacity-75 responsive-header header-image-big darker-image" src="\assets\images\clay-county.webp" alt="First slide">
            <!-- location tag -->
            <div class=" carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
                <div class="carousel-caption d-none d-md-block text-end fw-light">
                    <h5>Burgess Falls, Sparta, TN</h5>
                </div>
            </div>
        </div>
        
        <div class="carousel-item">
            <!-- this image is cropped wrong -->
            <!-- background image -->
            <img class="responsive-header header-image-big darker-image" src="\assets\images\cannon-county2.webp" alt="First slide">
            <!-- location tag -->
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Cannon County, TN</h5>
            </div>
            <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!-- this image is cropped wrong -->
            <!-- background image -->
            <img class="responsive-header header-image-big darker-image" src="\assets\images\clay-county.webp" alt="First slide">
            <!-- location tag -->
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Clay County, TN</h5>
            </div>
            <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!-- this image is cropped wrong -->
            <!-- background image -->
            <img class="responsive-header header-image-big" src="\assets\images\cumberland-county-tn.jpg" alt="First slide">
            <!-- location tag -->
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Cumberland County, TN</h5>
            </div>
            <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!-- this image is cropped wrong -->
            <!-- background image -->
            <img class="responsive-header header-image-big" src="\assets\images\falls-creek.jpg" alt="First slide">
            <!-- location tag -->
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Falls Creek Falls Tennessee State Park</h5>
            </div>
            <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!-- this image is cropped wrong -->
            <!-- background image -->
            <img class="responsive-header header-image-big" src="\assets\images\fentress-county.png" alt="First slide">
            <!-- location tag -->
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Fentress County, TN</h5>
            </div>
            <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
            </div>
        </div>
        <div class="carousel-item">
            <!-- this image is cropped wrong -->
            <!-- background image -->
            <img class="d-block w-100 responsive-header header-image-big" src="\assets\images\twin-falls.jpg" alt="First slide">
            <!-- location tag -->
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Twin Falls, Rock Island State Park</h5>
            </div>
            <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center">
                <h1 class="img-text-lg mt-5 mt-md-0">Let Us Assist You in Finding the Right Help</h1>
                <!-- <p class="text-light jumbotron-text pt-2"><a href="/html/pages/services.html"> Explore Available Resources Here</a></p> -->
            </div>
        </div>
    </div>
</div>

<!-- carousel overlay -->
<div class="carousel-overlay">
    <!-- SEARCH BAR -->
    <div class="ai-search-bar mt-md-3 mt-lg-5 d-flex align-items-center">
        <i class="bi bi-search ps-2"></i>
        <div class="divider-vertical d-flex align-items-center"></div>
        <input id="txtAIPrompt" class="search-input" type="text" placeholder="What are you looking for?" aria-label="What are you looking for?">
        <!-- submit button -->
        <div class="d-flex justify-content-between">
            <!-- TODO: extend button (stretch goal) -->
            <button id="btn-AI-search" class="btn search-btn fs-3" aria-label="Submit" onclick="window.location.href='/html/pages/ai_results.html'"> <!--onclick="window.location.href='/html/pages/ai_results.html'"-->
                <i class="bi bi-arrow-right-circle-fill"></i>
            </span>
        </div>
    </div>
</div>

<script src="/js/indexCarousel.js"></script>