<div id="carouselExampleIndicators" class="carousel slide position-relative" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- ALL of the photos with captions-->
        <div class="carousel-item active">
            <img class="bg-opacity-75 responsive-header header-image-big darker-image" src="assets/images/carousel/burgess-falls.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Burgess Falls</h5>
            </div>
        </div>
            
        <div class="carousel-item">
        <img class="responsive-header header-image-big darker-image" src="assets/images/carousel/cannon-county 1.svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Cannon County</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="responsive-header header-image-big darker-image" src="assets/images/carousel/clay-county 1.svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Clay County</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="responsive-header header-image-big" src="assets/images/carousel/falls-creek 1.svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Falls Creek Falls Tennessee State Park</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="responsive-header header-image-big" src="assets/images/carousel/fentress-county 1.svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Fentress County</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 responsive-header header-image-big" src="assets/images/carousel/twin-falls 1.svg" alt="First slide">
            <div class="carousel-caption d-none d-md-block text-end fw-light">
                <h5>Twin Falls, Rock Island State Park</h5>
            </div>
        </div>
        </div>

        <!-- search bar above photos -->
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center h-100">
        <h1 class="img-text-lg mb-4">
        Let Us Assist You in Finding the Right Help
        </h1>

        <div class="ai-search-bar d-flex align-items-center">
        <i class="bi bi-search ps-2"></i>
        <div class="divider-vertical"></div>
        <input
            id="txtAIPrompt"
            class="search-input"
            type="text"
            placeholder="What do you need help with?" 
            aria-label="What do you need help with?"> <!-- TODO: Placeholder change based on screen size -->
        <button
            id="btn-AI-search"
            type="button"
            class="btn search-btn fs-3"
            aria-label="Submit">
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
        </div>
    </div>
</div>


<script src="js/indexCarousel.js"></script>