<div class="p-2 p-md-5 accent_blue">
    <h4 class="jumbotron-text fw-light px-2">I Need:</h4>
    <div class="d-flex align-items-center">
        <!-- LEFT ARROW -->
        <button class="btn btn-light me-2" id="scrollLeftPills">
        ❮
        </button>

        <!-- SCROLL PILL AREA -->
        <div id="wrapperINeedPills" class="flex-grow-1 overflow-hidden">
        <div id="divINeedPills" class="d-flex overflow-auto scrollmenu">
            <!-- pills populate here -->
        </div>
        </div>

        <!-- RIGHT ARROW -->
        <button class="btn btn-light ms-2" id="scrollRightPills">
        ❯
        </button>
    </div>
  <hr>
  <!-- <div class="divider-horizontal" style="border-bottom: 2px solid white"></div> -->
  <!-- <div id="divINeedContent" class=" row mt-4 mx-5"> make mx responsive -->
    <!-- content populates here -->


  <div class="p-2 mt-3">
    <div class="d-flex align-items-center">
      <!-- <button class="btn btn-light me-2" id="scrollLeftContent">
        ❮
      </button> -->

      <div id="wrapperINeedContent" class="flex-grow-1 overflow-hidden">
        <div id="divINeedContent" class="d-flex overflow-auto">
          <!-- service cards go here -->
        </div>
      </div>

      <!-- <button class="btn btn-light ms-2" id="scrollRightContent">
        ❯
      </button> -->
    </div>
  </div>
</div>

<script type="module" src="../js/iNeed.js"></script>
<!-- <script type="module" src="js/services.js"></script> -->