<div id="iNeed">
    <!-- I NEED + RESPONSIVE CARDS -->
    <!-- "I need" pills -->
    <div class="rounded-bottom">
        <h5 class="mx-2 mx-md-5 fw-light p-4 p-md-5 jumbotron-text">
            <a class="justify-content-start clr-dark-navy">I need:</a>
            <div class="row pt-3 justify-content-start">
                <span id="pillINeedFood" class=" col iNeedPills">
                    <i class="bi bi-person rounded-start p-2 accent_blue white"></i>
                    <div class="light_grey clr-dark-navy fw-light p-2 pe-4 ps-4 rounded-end">Food</div>
                </span>
                <span id="pillINeedHousing" class=" col iNeedPills">
                    <i class="bi bi-person rounded-start p-2 accent_blue white"></i>
                    <div class="light_grey clr-dark-navy fw-light p-2 pe-4 ps-4 rounded-end">Housing</div>
                </span>
                <span id="pillINeedTransportation" class="col iNeedPills">
                    <i class="bi bi-person rounded-start p-2 accent_blue white"></i>
                    <div class="light_grey clr-dark-navy fw-light p-2 pe-4 ps-4 rounded-end">Transportation</div>
                </span>
                <span id="pillINeedChildCare" class="col iNeedPills">
                    <i class="bi bi-person rounded-start p-2 accent_blue white"></i>
                    <div class="light_grey clr-dark-navy fw-light p-2 pe-4 ps-4 rounded-end">Child Care</div>
                </span>
            </div>   
        </h5>
    </div>
</div>

<script src="/js/iNeed.js"></script>