<nav class="navbar fixed-top navbar-expand-lg bg-white shadow">
    <div class="container-fluid">
        <!-- Logo -->
        <!-- <div class="row"> -->
            <a class="d-flex align-items-start row navbar-brand ps-2 pt-2 pb-2 ms-md-5" href="/Gov-AI/index.html" >
                <img class="uc-assist-logo" src="/Gov-AI/assets/images/ucAssistLogo.jpg" alt="UC Assist.org">
            </a>
            <div id="" class=" col btn row-cols-auto d-flex d-inline-flex align-items-center p-md-0">
                <i class="bi bi-geo-alt-fill p-0"></i>
                <a id="txtDisplayCounty" class="btn-link clr-dark-navy p-0 ps-2">Select a County</a>
            </div>
        <!-- </div> -->
        <!-- Expand button for mobile -->
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Gov-AI/html/pages/crisis.html">Crisis Hotline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Gov-AI/html/pages/services.html">Find Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Gov-AI/html/pages/registration_landing.html">Providers</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" href="/Gov-AI/html/pages/referral_form.html">Refer A Program</a>
                </li>
            </ul>
        </div>
    </div>
</nav>