<nav class="navbar fixed-top navbar-expand-lg bg-white shadow">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand p-2 m-1 ms-5" href="/index.html" >
                <img src="/assets/images/ucAssistLogo.jpg" alt="UC-Assist Logo">
            </a>
            <!-- Expand button for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/html/pages/crisis.html">Crisis Hotline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/html/pages/services.html">Find Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/html/pages/registration_landing.html">Providers</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="/html/pages/error.html">Refer A Program</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
