<nav class="navbar fixed-top navbar-expand-lg bg-white shadow" data-name="Navigation Bar">
    <div class="container-fluid" data-name="Navigation Bar Container">
        <!-- Logo -->
        <!-- <div class="row"> -->
            <a class="d-flex align-items-start row navbar-brand ps-2 pt-2 pb-2 ms-md-5" href="../../index.html" data-name="Website Logo Link">
                <img class="uc-assist-logo" style="max-width: 250px" src="../../assets/images/ucAssistLogo.jpg" alt="UC Assist.org" data-name="Website Logo Image">
            </a>
        <!-- </div> -->
        <!-- Expand button for mobile -->
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-name="Mobile Menu Toggle Button">
            <span class="navbar-toggler-icon" data-name="Mobile Menu Icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav" data-name="Navigation Menu Collapse">
            <ul class="navbar-nav ms-auto" data-name="Navigation Menu Links">
                <li class="nav-item" data-name="Current County Display Item">
                    <span class="nav-link p-1 ps-2 d-inline-flex align-items-center flex-wrap row" data-name="County Location Display">
                        <div class="col col-1 ms-auto">
                            <i class="bi bi-geo-alt-fill"></i>
                        </div>
                        <div class="col col-10">
                            <a id="txtDisplayCounty" class="nav-link text-break pe-0"></a>
                        </div>
                    </span>
                </li>
                <li class="nav-item" data-name="Upper Cumberland News Nav Item">
                    <span class="nav-link p-1 ps-2 d-inline-flex align-items-center flex-wrap">
                        <a class="nav-link" target="_blank" href="https://ucdd.org/news/" data-name="Upper Cumberland News Link">UCDD News</a>
                    </span>
                </li>
                <li class="nav-item" data-name="Service Search Nav Item">
                    <span class="nav-link p-1 ps-2 d-inline-flex align-items-center flex-wrap">
                        <a class="nav-link" href="/html/pages/services.html" data-name="Service Search Link">Find Services</a>
                    </span>
                </li>
                <li class="nav-item" data-name="Provider Registration Nav Item">
                    <span class="nav-link p-1 ps-2 d-inline-flex align-items-center flex-wrap">
                        <a class="nav-link" href="/html/pages/registration_landing.html" data-name="Provider Registration Link">Add My Service</a>
                    </span>
                </li>
                <li class="nav-item" data-name="Service Referral Nav Item">
                    <span class="nav-link p-1 ps-2 d-inline-flex align-items-center flex-wrap">
                        <a class="nav-link" href="/html/pages/referral_form.html" data-name="Service Referral Link">Refer A Program</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
