<div class="position-relative mx-1 mx-md-5 mt-5 rounded shadow map-container">
    <div id="map" class="w-100 h-100 rounded"></div>
    <div class="position-absolute top-0 end-0 d-flex flex-row h-100 justify-content-end" style="z-index: 1000;">
        <button class="btn btnMap btn-light m-3" type="button" data-bs-toggle="collapse" data-bs-target="#mapCollapse" aria-expanded="false" aria-controls="mapCollapse">
            <i class="bi bi-list text-dark"></i>
        </button>
        <div class="collapse h-100" id="mapCollapse">
            <!-- Services -->
            <div class="card card-body w-100 h-100 overflow-auto" id="mapCollapseServices"></div>
            <!-- Filtering -->
            <div class="card card-body w-100 h-100 overflow-auto d-none" id="mapCollapseFilter"></div>
        </div>
    </div>
</div>
<div class="wrapper" id="serviceInfo"></div>