<div class="mx-1 mx-md-5 mt-5 rounded shadow map-container" style="height: 600px;">

    <div class="d-flex h-100">

        <!-- Map Wrapper -->
        <div class="flex-grow-1 position-relative">

            <!-- Map -->
            <div id="map" class="h-100 w-100 rounded"></div>

            <!-- Toggle Button -->
            <button class="btn btnMap btn-light position-absolute top-0 end-0 m-3" type="button" data-bs-toggle="collapse" data-bs-target="#mapCollapse" aria-expanded="false" aria-controls="mapCollapse">
                <i class="bi bi-list text-dark"></i>
            </button>

        </div>

        <!-- Sidebar -->
        <div class="collapse collapse-horizontal h-100" id="mapCollapse">
            <div class="card card-body h-100 overflow-auto w-100 w-md-50">
                <div id="mapCollapseServices"></div>
                <div id="mapCollapseFilter" class="d-none"></div>
            </div>
        </div>

    </div>

</div>
