/* ucdd main colors */
:root {
    --gold: #AA8A41;
    --navy: #3E4450;
    --dark-navy: #1E222E;
    --accent-blue: #606A76;
    --light-grey: #EBE9EA;
}

.page-header{
    width: 1280px;
    height: 125px;
    padding: 20px;
    background-color: #1E222E;
    color: white;
    display: flex;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}